/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

*:focus {
  outline: none;
}

::placeholder {
  color: var(--black);
  font-weight: 600;
}

HTML {
  font-size: 62.5%;
}

:root {
  --primary-blue: #4516FE;
  --light-grey: #E9EDFF;
  --black: #0E0E0E;
  --white: #F8F8FA;
}

body {
  background-color: var(--white);
}

.container {
  width: 90%;
  margin-inline: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ------------------------------ */
/* ---------- HEADER ------------ */
/* ------------------------------ */

header {
  background-color: var(--primary-blue);
  color: var(--white);
  /* padding: 0 8rem; */
  padding-top: 6rem;
  position: relative;
  /* height: 70vh; */
}

.fa-solid.fa-bars {
  display: none;
}

.logo-div {
  display: inline-block;
}

.logo {
  height: 5rem;
}

nav {
  position: absolute;
  display: flex;
  align-items: center;
  top: 2rem;
  left: 62%;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 3rem;
}

.nav-item-active {
  background-color: var(--white);
  color: var(--primary-blue);
  border-radius: 3px;
  padding: 0.3rem 1rem;
}

.header-text {
  padding-block: 12rem;
}

.header-text>h2 {
  margin-top: 1rem;
  font-size: 4.5rem;
  font-weight: 500;
}

.header-text>p {
  font-size: 2rem;
  color: var(--light-grey);
}

.header-image {
  position: absolute;
  height: 80vh;
  top: 18%;
  left: 54.7%;
  filter: drop-shadow(0px 0px 3px #222);
}


/* --------------------------------- */
/* ---------- Companies ------------ */
/* --------------------------------- */

.companies {
  margin-left: 8rem;
  margin-top: 3rem;
}

.company-items {
  font-size: 2.7rem;
  color: var(--black);
  font-weight: 500;
  font-family: Righteous;
  text-decoration: none;
  margin-right: 6rem;
}


/* --------------------------- */
/* ---------- API ------------ */
/* --------------------------- */

.api {
  font-size: 2.3rem;
  margin-top: 3rem;
}

.cards {
  display: flex;
  position: relative;
  margin: 5rem 0;
  margin-inline: auto;
}

.card,
.card-active {
  /* height: 20rem; */
  /* width: 30rem; */
  padding: 4rem 3rem;
  border-radius: 2rem;
}

.card-active {
  background-color: white;
  box-shadow: 0px 0px 10px 0.1px rgb(154, 154, 154);

}

.card-head-active {
  color: var(--primary-blue);
}

.card-logo {
  height: 5rem;
}

.card-head,
.card-head-active {
  font-weight: 500;
}

.card-body {
  font-size: 1.5rem;
}

.right-arrow {
  position: absolute;
  z-index: -1;
  height: 5rem;
  width: 5rem;
  background-color: var(--primary-blue);
  border-radius: 3rem;
  top: 35%;
  right: -2rem;
}

.arrow {
  position: relative;
  left: 1rem;
  top: 0.9rem;
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  border-radius: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* ------------------------------ */
/* ---------- BLOG SECTION ------------ */
/* ------------------------------ */
.blog-heading {
  /* margin: 3rem 8rem; */
  margin-top: 1em;
  font-size: 2.3rem;
}

.blog-cards {
  display: flex;
  /* width: 90vw; */
  /* height: 35rem; */
  /* margin: 0 auto; */
  justify-content: space-between;
  gap: 3rem;
  margin-top: 3rem;
}

.blog-card {
  width: 100%;
  position: relative;
  border-radius: 2rem;
  border-top-left-radius: 10rem;
  box-shadow: 1px 1px 5px 1px rgb(144, 144, 144);
}

.blog-image {
  display: inline-block;
}

.blog-image>img {
  height: 35rem;
}

.blog-content {
  display: inline-block;
  margin-left: 5rem;
  position: relative;
  top: -10rem;
  box-sizing: border-box;
}

.blog-content>h6 {
  color: var(--primary-blue);
  font-size: 1.2rem;
}

.blog-content>h3 {
  font-size: 2rem;
  margin: 2rem 0;
}

.blog-content>small {
  font-size: 1.5rem;
}

.blog-bottom {
  display: inline-block;
  position: absolute;
  left: 37rem;
  top: 31rem;
}

.blog-card-bottom-image {
  height: 6.5rem;
  filter: drop-shadow(5px 3px 0 white) drop-shadow(-5px 3px 0 white);
}

.blog-author {
  position: absolute;
  display: inline-block;
  font-size: 1.5rem;
  width: 15rem;
  left: 22.5rem;
  top: 15.5rem;
}

/* ------------------------------ */
/* ---------- FAQ ------------ */
/* ------------------------------ */

.faq-section {
  background-color: var(--light-grey);
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  padding-left: 8rem;
}

.faq-content {
  padding-block: 4rem;
}

.faq-content>h2 {
  font-size: 4.5rem;
}

.faq-content>h4 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 0;
}

.faq-content>h4:nth-child(3) {
  font-weight: 500;
  font-size: 2rem;
}

.faq-content button {
  background-color: var(--primary-blue);
  border: none;
  color: var(--white);
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 3px;
}

.faq-image img {
  width: 100%;
  height: 100%;
}

/* ------------------------------ */
/* ---------- Download ------------ */
/* ------------------------------ */
.download-section {
  /* height: 45vh; */
  /* margin-bottom: 30%; */

}

.download-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-content {
  margin-block: 15rem;
  width: 100%;
}

.download-content h1 {
  font-size: 3.5rem;
}

.download-content span {
  font-weight: 500;
}

.download-email {
  /* background-color: var(--light-grey); */
  width: 100%;
  /* border-radius: 5rem; */
  /* height: 6rem; */
}

form {
  /* padding: 0.5rem 0rem; */
  /* padding-left: 3rem; */
  /* border: 2px solid var(--primary-blue); */
  position: relative;
}

form input {
  background-color: var(--light-grey);
  border: none;
  /* width: 46rem; */
  width: 100%;
  height: 5.5rem;
  border-radius: 5rem;
  padding-inline: 1rem;
}

form button {
  background-color: var(--primary-blue);
  border: none;
  color: var(--light-grey);
  font-size: 1.5rem;
  padding: 1.3rem 5rem;
  border-radius: 3rem;
  position: absolute;
  top: 4px;
  right: -15px;
}


/* ------------------------------ */
/* ---------- Footer ------------ */
/* ------------------------------ */

.footer-section {
  background-color: var(--primary-blue);
  /* height: 40vh; */
}

.footer-section>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 8rem;
}

.footer-left img {
  height: 5rem;
  padding-bottom: 3rem;
}

.list,
.logos-list {
  color: var(--light-grey);
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 3rem;
  flex-wrap: wrap;

}

.list-items {
  font-size: 1.3rem;
}

.footer-left .list-items:nth-child(n+2):nth-child(-n+4)::after {
  content: "|";
  padding-left: 3rem;
}

.footer-right>img {
  margin-left: 2rem;
  height: 5rem;
  padding-bottom: 3rem;
}

.footer-right .list-items:nth-child(n+1):nth-child(-n+2)::after {
  content: "|";
  padding-left: 3rem;
}


@media (width <=425px) {
  header {
    padding-block: 0;
    padding-top: 2rem;
  }

  .fa-solid.fa-bars {
    display: block;
  }

  .logo-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-div img {
    /* width: 100vw;
    margin-block: auto; */
    width: 10rem;
    height: 4rem;
  }

  .header-text {
    margin: 0;
    padding-block: 3rem;
  }

  .header-text p {
    margin-top: 0.5rem;
    font-size: 15px;
  }

  .header-text h2 {
    font-size: 2rem;
  }

  nav {
    display: none;
  }

  .header-image {
    display: none;
  }

  .companies {
    margin: 0;
    margin-inline: 0;
    display: none;
  }

  .api-heading {
    font-size: 2.3rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    /* width: 100%; */
  }

  .right-arrow {
    display: none;
  }

  .blog-heading {
    font-size: 1.5rem;
  }

  .blog-cards {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-block: auto;
    margin-block: 3rem;
  }

  .blog-card {
    position: static;
    display: flex;
    border-radius: 2rem;
    gap: 3rem;
    flex-direction: column;
    padding-block: 2rem;
  }

  .blog-image,
  .blog-content {
    position: static;
    /* margin: 1.5rem; */
    margin-inline: auto;
    display: block;
    text-align: center;
  }

  .blog-image img {
    border-radius: 5rem;
    width: 100%;
    height: 30rem;
  }

  .blog-content {
    width: 80%;
  }

  .blog-bottom,
  .blog-author {
    display: none;
  }

  .faq-section {
    position: static;
    display: block;
    padding: 0;
    margin-top: 3rem;
  }

  .faq-content {
    width: 90%;
    margin-inline: auto;
  }

  .faq-content h2 {
    font-size: 3rem;
  }

  .faq-image {
    display: none;
  }

  .download-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 3rem;
    padding-block: 3rem;
  }


  .download-content {
    margin: 0;
  }

  .download-email {
    width: 90vw;
  }

  .download-email input {
    width: 100%;
    height: 3rem;
  }

  .download-email button {
    height: 2.5rem;
    padding: 0 1rem;
  }

  .footer-section .container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (width <= 768px) {
  .fa-solid.fa-bars{
    display: block;
  }

  .logo-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav{
    display: none;
  }
}

@media (width > 425px) and (width <=1024px) {
  header {
    width: 100vw;
    padding-top: 5rem;
  }

  nav {
    /* position: static; */
    left: 30vw;
    top: 10vw;
  }

  .header-image {
    display: none;
  }
  .header-text{
    padding-block: 5rem;
  }

  .blog-heading {
    font-size: 1.5rem;
  }

  .api .cards {
    flex-wrap: wrap;
  }

  .right-arrow {
    display: none;
  }

  .blog-cards {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-block: auto;
    margin-block: 3rem;
  }

  .blog-card {
    position: static;
    display: flex;
    border-radius: 2rem;
    gap: 3rem;
    flex-direction: column;
    padding-block: 2rem;
  }

  .blog-image,
  .blog-content {
    position: static;
    /* margin: 1.5rem; */
    margin-inline: auto;
    display: block;
    text-align: center;
  }

  .blog-image img {
    border-radius: 5rem;
    width: 100%;
    height: 30rem;
  }

  .blog-content {
    width: 80%;
  }

  .blog-bottom,
  .blog-author {
    display: none;
  }
}