/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

HTML {
  font-size: 62.5%;
}

:root {
  --primary-blue: #4516FE;
  --light-grey: #E9EDFF;
  --black: #0E0E0E;
  --white: #F8F8FA;
}

body {
  background-color: var(--white);
}

/* ------------------------------ */
/* ---------- HEADER ------------ */
/* ------------------------------ */

header {
  background-color: var(--primary-blue);
  color: var(--white);
  padding: 0 8rem;
  padding-top: 6rem;
  position: relative;
}

.logo-div {
  display: inline-block;
}

.logo {
  height: 5rem;
}

nav {
  position: absolute;
  display: flex;
  gap: 3rem;
  align-items: center;
  top: 2rem;
  left: 62%;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-item-active{
  background-color: var(--white);
  padding: 0.3rem 1rem;
  color: var(--primary-blue);
  border-radius: 3px;
}

